/1.py
/3_calibrated_camera_parameters.txt
/3_calibrated_external_camera_parameters.txt
/3_calibrated_external_camera_parameters_error.txt
/3_calibrated_external_camera_parameters_wgs84.txt
/3_calibrated_images_position.txt
/3_calibrated_internal_camera_parameters.cam
/3_camera.ssk
/3_offset.xyz
/3_photo.ssk
/3_pix4d_calibrated_internal_camera_parameters.cam
/3_pmatrix.txt
/3_result_correlations_internals.csv
/3_result_correlations_internals_externals.csv
/3_sun_angles.csv
/3_tp_bingo.txt
/3_tp_orima.txt
/3_wkt.prj
/DSC_0027.JPG
/DSC_0027.json
/DSC_0157.JPG
/DSC_0157.json
/DSC_01571.JPG
/DSC_01571.json
/单张影像识别重投影_许泽然.pptx
